{#
/**
 * @file
 * Template for contact page emails.
 *
 * Variables:
 * - body: Email body content.
 * - site_name: Site name.
 * - sender_name: Sender name.
 * - sender_url: Sender URL or email address.
 * - recipient_name:', Recipient name.
 * - recipient_edit_url:', Recipient URL to change settings.
 *
 * @see template_preprocess_email()
 *
 * @ingroup themeable
 */
#}

<p class="contact-email-intro">Here is a copy of the message you sent to {{ recipient_name }} at [site:name].</p>

<hr>
{{ body }}
